@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'tailwind-loves-sass';

/* STYLING FOR ELEMENTS WITH HEAVY USAGE OF TAILWIND CLASSES HAVE BEEN MOVED AND CONSOLIDATED HERE */

/* NEED TO IMPORT 'tailwind-loves-sass' TO IMPLEMENT @APPLY IN A WAY THAT WON"T ERROR  */

.page-wrapper {
  @include apply('flex flex-col mx-auto px-4 sm:px-12 md:text-xl text-lg');

  .hero-section {
    @include apply('flex flex-row justify-between py-4 sm:py-12  mx-auto');

    .about-me {
      @include apply('left');
    }

    .contact-section {
      @include apply('right');
    }
  }

  .work-section {
    ul {
      @include apply('flex flex-row flex-wrap justify-center');

      .work-item {
        .work-item-wrapper {
          @include apply('overflow-hidden relative rounded-md border-1');

          .work-media-wrapper {
            @include apply('absolute z-0');

            img {
              @include apply('gray-filter relative');
            }
          }

          .work-item-detail-wrapper {
            @include apply(
              'cursor-pointer ease-out space-x-4 bg-black bg-opacity-60 hover:bg-opacity-80 relative z-0 justify-center'
            );

            .work-title-wrapper h1 {
              @include apply(
                'text-xl font-semibold cursor-pointer tracking-wider spectral'
              );
            }
          }

          .work-detail-outer {
            @include apply(
              'px-8 lg:my-24 work-detail-outer mx-auto flex flex-col-reverse lg:flex-row-reverse items-center justify-around my-16'
            );

            .text-box {
              h1 {
                @include apply(
                  'text-2xl md:text-3xl cursor-pointer spectral inline-block mr-4'
                );
              }
              h2 {
                @include apply('text-gray-400 text-lg');
              }
              p {
                @include apply('text-base leading-5 mt-4');
              }

              .pill-wrap {
                @include apply('mt-6 flex flex-row flex-wrap');

                .tech-pill {
                  @include apply(
                    'text-sm bg-gray-300 text-gray-900 inline-block font-semibold mb-4 rounded-md mr-2'
                  );
                  padding: 1px 8px;
                }
              }

              .media-box {
                @include apply('border-gray-50 border-1');
              }
            }
          }
        }
      }
    }
    p {
      @include apply('tracking-wide mt-12 mb-4 text-center');
    }
  }
}
